@media only screen and (max-width: 600px) {
  .select {
    width: 30rem !important;
  }
}

@media only screen and (max-width: 530px) {
  .select {
    width: 25rem !important;
    font-size: 0.7rem !important;
  }
}
@media only screen and (max-width: 440px) {
  .select {
    width: 20rem !important;
    font-size: 0.6rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .select {
    width: 17rem !important;
    font-size: 0.54rem !important;
  }
}

@media only screen and (max-width: 300px) {
  .select {
    width: 15rem !important;
    font-size: 0.47rem !important;
  }
}
