@font-face {
  font-family: "Pokemon";
  src: local("PokemonGb-RAeo"),
    url("./font/PokemonGb-RAeo.ttf") format("truetype");
}

.app {
  color: #1c2128;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Pokemon", sans-serif;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.cave {
  background: #e2dbd0;
}

.forest {
  background: #c7d6c7;
}

.grassland {
  background: #d5e8d6;
}

.mountain {
  background: #e8ded0;
}

.waters {
  background: #cce2e1;
}

.urban {
  background: #e0e0e0;
}

.sea {
  background: #d0e5ed;
}

.terrain {
  background: #e5dac5;
}

.rare {
  background: #efe7c4;
}
